{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block body %}
{% include 'Components/Navbar.html' %}

<div class="container content">
    <h3 class="text-center">Articles</h3>
    <div class="row">
        {% for model in models %}
        <div class="card col-8 offset-2 col-md-10 offset-md-1 my-2">
            <div class="card-body">
            <h5 class="card-title">{{model.title}}</h5>
            <p class="card-text">{{model.body}}</p>
            <p>The article is written by-:<a href="#">{{model.author}}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'Components/Footer.html' %}
{% endblock %}