<nav class="navbar navbar-expand-lg navbar-dark bg">
    <a class="navbar-brand" href="#"><h4>Blogs<i class="fa fa-ravelry" aria-hidden="true"></i></h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles' %}">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'addArticle' %}">Add Article<span><i class="fa fa-lg fa-pencil-square" aria-hidden="true"></i></span></a>
        </li>
      </ul>
    </div>
  </nav>