{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block body %}
{% include 'Components/Navbar.html' %}
<div class="container" style="margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">

    <form method="POST">
        {% csrf_token %}
        {% for fields in forms %}
        <label for="{{fieds.name}}">{{fields.name}}</label>
        <input class="form-control" id="{{fields.name}}" name="{{fields.name}}"><br>
        {% endfor %}
        <button class="btn btn-secondary" type="submit">Register</button>
    </form>
    {% if error is not None %}
    {{error}}
    {% endif %}
</div>

{% endblock %}